h1 {

    color: rgb(253, 254, 255);
}

.blokas1 {

    background-color: rgb(112, 207, 95);
}

.blokas2 {

    background-color: rgb(245, 244, 209);
}

.blokas3 {

    background-color: rgb(58, 44, 203);
    text-decoration: aliceblue;
    color: rgb(255, 255, 255);
}

.raudona {

    color: red;
    background-color: rgb(0, 0, 0);
}