html, body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    padding-left: 0px;
    padding-top: 0px;
}

.block-wrapper {
    background-color: white;
    width: 100%;
    max-width: 600px;
    padding: 180px 145px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.02); 
    text-align: left;
}

.info-wrapper .input-wrapper input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 7px;
    border-style: solid;
    border-width: 1px;
}