body {

    background-color: azure; 
}

h1 {

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 17px;
    padding-bottom: 5px;
    text-align: start;
}

.Ona {

    max-block-size: 320px;
    max-width: 420px;
    max-height: 280px;
    border-top: 0px;
    box-shadow: 5px;
}

div {

    background-color: rgb(254, 217, 143);
    width: 420px; 
    height: 520px;
    margin: 3% auto;
    font-style: normal;
    box-shadow: 0 0 10px; 
    align-items: center;
}

.paragrafas {
    padding: 17px;
    padding-top: 0px;
    
}

.vardas {

    position: absolute;
    top: 237px;
    box-shadow: 0 0 10px; 
    background-color: aliceblue;
    max-width: 200px;
    height: 20px;
    border: 15px 15px color(a98-rgb rgb(0, 0, 0) green blue);
    font-size: 17px;
    padding: 10px;
    margin: 3.3% auto;
    
}

.vardas2 {

    position: absolute;
    bottom: 26px;
    box-shadow: 0 0 10px; 
    background-color: aliceblue;
    max-width: 200px;
    height: 20px;
    border: 15px 15px color(a98-rgb rgb(0, 0, 0) green blue);
    font-size: 17px;
    padding: 10px;
    margin: 3.3% auto;
    
}


