body {

    background-color: aquamarine; 
    text-align: center; 

}

div {

    background-color: lavender;
    margin-top:  5em; 
    margin-bottom: 5em;
    max-width: 80%;
    text-align: center;
    margin: 4% auto;
}


.pirmas {

    border: 12px solid red;
    box-shadow: 5px 5px 15px black;

}

.antras {

    padding: 5em;
    border-radius: 150px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.trecias {

    padding-bottom: 5em;
    padding-top: 5em;
    padding-left: 0em;
    padding-right: 0em;
    border-bottom: 10px solid blue;
    border-right: 15px dashed green;
}

.ketvirtas {

    padding-top: 0em;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 50px;
}

.penktas {

    padding-bottom: 5em;
    padding-top: 0em;
    padding-left: 0em;
    padding-right: 0em;
    border-left: 10px dashed orange; 

}