body {
    background-color: rgb(0, 0, 0);
}

h2 {

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}

.blokas1 {

    background-color: rgb(230, 230, 230);
}

.blokas2 {

    background-color: rgba(199, 199, 199, 0.778);
}

.blokas3 {

    background-color: rgb(255, 255, 255);
    background-size: 100% 100%;
}

.blokas4 {

    background-color: rgb(252, 252, 220);
}

h4 {

    color: rgb(255, 0, 0);

}

a {

    color: rgb(255, 255, 255);
    background-color: rgb(255, 3, 3); 
}

p {

    color: rgb(14, 6, 236);
}