html, body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

.block-wrapper {
    background-color: white;
    width: 100%;
    max-width: 600px;
    padding: 20px 35px;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.02); 
}

.info-wrapper .input-wrapper {
    margin: 10px 0;
}

.info-wrapper .input-wrapper > * {
    display:block; 
}

.info-wrapper .input-wrapper input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 7px;
    border-style: solid;
    border-width: 1px;
}

.info-wrapper button {
    padding: 5px 10px;
    cursor: pointer;
}