body {

    background-color: #ffffff;
}



.blokas1 {

    background-color: rgb(255, 167, 60);
    justify-content: flex-start;
    align-items: center;
    padding-left: 17px;
    padding: 15px;
}

.blokas2 {

    background-color: rgb(98, 158, 102);
    display: flex;
    padding: 15px;
    justify-content: flex-end;
    align-items: center;
    
}

.balta {

    background-color: #ffffff; 
    padding: 0;
    width: 260px;
    height: 280px;
    margin: 0;
}

.balta1 {

    background-color: #ffffff; 
    padding: 0;
    width: 260px;
    margin: 0px;
    height: 280px;
}

p {
    margin: 0;
}
.blokas3 {

    background-color: rgb(255, 167, 60);
    padding: 15px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    height: 200px;
    
}

.balta2 {
    background-color: #ffffff;
    padding: 8px;
    width: 300px;
    max-height: 200px;
    margin-right:0%
    
}

.blokas4 {

    background-color: rgb(63, 227, 242); 
    display: flex; 
    height: 370px;
    justify-content: center;
    align-items: center;
    
}


.blokas5 {
    background-color: red;
    height: 370px;
    display: flex; 
    justify-content: flex-end;
    align-items:flex-end;
    padding: 12px;
}

.balta3 {
    background-color: #ffffff;
    padding: 8px;
    width: 300px;
    
}